html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
body{
    background-color:rgb(212, 230, 212);
}

.h1{   
    color:darkgreen;
    text-align: center;
    font-size: 350%;
    padding-top: 1%;
}

.h2{
    text-align: center;
    font-size: 200%;
    padding-top: 1%;
    padding-bottom: 2%;
}

#description{
    text-align: center;
    font-size: 135%;
    padding-bottom: 0.25%;
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
}


#textfield{
    width: 99.5%;
    height: 300px;
    margin: 0 auto;
    display: block;
    padding-bottom: 4%;
    resize: none;
}

.letter{
    margin: 0 auto;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-size: large;
}



#lucky{
    text-align: center;
    font-size: 125%;
    padding-top: 2%;
}
.random{
    padding: 1%;
    font-size: large;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

 
a:link {
    color: rgb(1, 82, 1);
}
a:visited {
    color: rgb(1, 82, 1);
}
a:hover {
    color: rgb(1, 82, 1);

}
a:active {
    color: rgb(1, 82, 1);
} 